openapi: 3.2.0
info:
  title: Mezmo Pipeline Sources API
  description: 'Programmatic CRUD over Mezmo Telemetry Pipelines. Manage pipelines, sources,

    processors, destinations, deployments, audit events, and account-wide

    metrics. Backs the Mezmo CLI, Terraform provider, and MCP server.

    '
  version: v3
  contact:
    name: Mezmo
    url: https://www.mezmo.com/
servers:
- url: https://api.mezmo.com/v3
  description: Production Pipeline API
security:
- PipelineServiceKey: []
tags:
- name: Sources
paths:
  /pipelines/{pipelineId}/sources:
    parameters:
    - $ref: '#/components/parameters/PipelineId'
    get:
      tags:
      - Sources
      summary: List Sources
      operationId: listSources
      responses:
        '200':
          description: Sources for the pipeline.
    post:
      tags:
      - Sources
      summary: Create Source
      operationId: createSource
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PipelineNodeInput'
      responses:
        '201':
          description: Source created.
  /pipelines/{pipelineId}/sources/{nodeId}:
    parameters:
    - $ref: '#/components/parameters/PipelineId'
    - $ref: '#/components/parameters/NodeId'
    get:
      tags:
      - Sources
      summary: Get Source
      operationId: getSource
      responses:
        '200':
          description: Source details.
    put:
      tags:
      - Sources
      summary: Update Source
      operationId: updateSource
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PipelineNodeInput'
      responses:
        '200':
          description: Source updated.
    delete:
      tags:
      - Sources
      summary: Delete Source
      operationId: deleteSource
      responses:
        '204':
          description: Source deleted.
components:
  schemas:
    PipelineNodeInput:
      type: object
      required:
      - title
      - type
      properties:
        title:
          type: string
        type:
          type: string
          description: Component type (e.g. http_source, otel_source, s3_destination, datadog_logs_destination, vrl_processor).
        config:
          type: object
          additionalProperties: true
        inputs:
          type: array
          items:
            type: string
  parameters:
    PipelineId:
      name: pipelineId
      in: path
      required: true
      schema:
        type: string
    NodeId:
      name: nodeId
      in: path
      required: true
      schema:
        type: string
  securitySchemes:
    PipelineServiceKey:
      type: http
      scheme: bearer
      description: 'Authorization: Token {PIPELINE_SERVICE_KEY}'
