openapi: 3.2.0
info:
  title: Mezmo Edge Edge Clients API
  description: 'Edge / local deployment surface for Mezmo Pipelines. Self-hosted pipeline

    instances poll the control plane for configuration, send heartbeats, accept

    tasks, and report results.

    '
  version: v3
servers:
- url: https://api.mezmo.com/v3
security:
- PipelineServiceKey: []
tags:
- name: EdgeClients
paths:
  /edge/clients:
    get:
      tags:
      - EdgeClients
      summary: List Edge Clients
      operationId: listEdgeClients
      responses:
        '200':
          description: Registered edge clients.
    post:
      tags:
      - EdgeClients
      summary: Register Edge Client
      operationId: registerEdgeClient
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EdgeClient'
      responses:
        '201':
          description: Client registered.
  /edge/clients/{clientId}:
    parameters:
    - name: clientId
      in: path
      required: true
      schema:
        type: string
    get:
      tags:
      - EdgeClients
      summary: Get Edge Client
      operationId: getEdgeClient
      responses:
        '200':
          description: Edge client details.
    delete:
      tags:
      - EdgeClients
      summary: Deregister Edge Client
      operationId: deregisterEdgeClient
      responses:
        '204':
          description: Client deregistered.
components:
  schemas:
    EdgeClient:
      type: object
      properties:
        clientId:
          type: string
        name:
          type: string
        version:
          type: string
        labels:
          type: object
          additionalProperties:
            type: string
  securitySchemes:
    PipelineServiceKey:
      type: http
      scheme: bearer
