openapi: 3.2.0
info:
  title: Mezmo Pipeline Pipelines API
  description: 'Programmatic CRUD over Mezmo Telemetry Pipelines. Manage pipelines, sources,

    processors, destinations, deployments, audit events, and account-wide

    metrics. Backs the Mezmo CLI, Terraform provider, and MCP server.

    '
  version: v3
  contact:
    name: Mezmo
    url: https://www.mezmo.com/
servers:
- url: https://api.mezmo.com/v3
  description: Production Pipeline API
security:
- PipelineServiceKey: []
tags:
- name: Pipelines
paths:
  /pipelines:
    get:
      tags:
      - Pipelines
      summary: List Pipelines
      operationId: listPipelines
      responses:
        '200':
          description: List of pipelines.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Pipeline'
    post:
      tags:
      - Pipelines
      summary: Create Pipeline
      operationId: createPipeline
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PipelineInput'
      responses:
        '201':
          description: Pipeline created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Pipeline'
  /pipelines/{pipelineId}:
    parameters:
    - $ref: '#/components/parameters/PipelineId'
    get:
      tags:
      - Pipelines
      summary: Get Pipeline
      operationId: getPipeline
      responses:
        '200':
          description: Pipeline details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Pipeline'
    put:
      tags:
      - Pipelines
      summary: Update Pipeline
      operationId: updatePipeline
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PipelineInput'
      responses:
        '200':
          description: Pipeline updated.
    delete:
      tags:
      - Pipelines
      summary: Delete Pipeline
      operationId: deletePipeline
      responses:
        '204':
          description: Pipeline deleted.
  /pipelines/{pipelineId}/health:
    parameters:
    - $ref: '#/components/parameters/PipelineId'
    get:
      tags:
      - Pipelines
      summary: Get Pipeline Health
      operationId: getPipelineHealth
      responses:
        '200':
          description: Health status of the pipeline.
components:
  schemas:
    PipelineInput:
      type: object
      required:
      - title
      properties:
        title:
          type: string
        description:
          type: string
        sharedSources:
          type: array
          items:
            type: string
    Pipeline:
      allOf:
      - $ref: '#/components/schemas/PipelineInput'
      - type: object
        properties:
          id:
            type: string
          accountId:
            type: string
          createdAt:
            type: string
            format: date-time
          updatedAt:
            type: string
            format: date-time
          status:
            type: string
            enum:
            - draft
            - published
            - errored
  parameters:
    PipelineId:
      name: pipelineId
      in: path
      required: true
      schema:
        type: string
  securitySchemes:
    PipelineServiceKey:
      type: http
      scheme: bearer
      description: 'Authorization: Token {PIPELINE_SERVICE_KEY}'
