openapi: 3.2.0
info:
  title: Mezmo Pipeline Destinations API
  description: 'Programmatic CRUD over Mezmo Telemetry Pipelines. Manage pipelines, sources,

    processors, destinations, deployments, audit events, and account-wide

    metrics. Backs the Mezmo CLI, Terraform provider, and MCP server.

    '
  version: v3
  contact:
    name: Mezmo
    url: https://www.mezmo.com/
servers:
- url: https://api.mezmo.com/v3
  description: Production Pipeline API
security:
- PipelineServiceKey: []
tags:
- name: Destinations
paths:
  /pipelines/{pipelineId}/destinations:
    parameters:
    - $ref: '#/components/parameters/PipelineId'
    get:
      tags:
      - Destinations
      summary: List Destinations
      operationId: listDestinations
      responses:
        '200':
          description: Destinations for the pipeline.
    post:
      tags:
      - Destinations
      summary: Create Destination
      operationId: createDestination
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PipelineNodeInput'
      responses:
        '201':
          description: Destination created.
  /pipelines/{pipelineId}/destinations/{nodeId}:
    parameters:
    - $ref: '#/components/parameters/PipelineId'
    - $ref: '#/components/parameters/NodeId'
    get:
      tags:
      - Destinations
      summary: Get Destination
      operationId: getDestination
      responses:
        '200':
          description: Destination details.
    put:
      tags:
      - Destinations
      summary: Update Destination
      operationId: updateDestination
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PipelineNodeInput'
      responses:
        '200':
          description: Destination updated.
    delete:
      tags:
      - Destinations
      summary: Delete Destination
      operationId: deleteDestination
      responses:
        '204':
          description: Destination deleted.
components:
  schemas:
    PipelineNodeInput:
      type: object
      required:
      - title
      - type
      properties:
        title:
          type: string
        type:
          type: string
          description: Component type (e.g. http_source, otel_source, s3_destination, datadog_logs_destination, vrl_processor).
        config:
          type: object
          additionalProperties: true
        inputs:
          type: array
          items:
            type: string
  parameters:
    PipelineId:
      name: pipelineId
      in: path
      required: true
      schema:
        type: string
    NodeId:
      name: nodeId
      in: path
      required: true
      schema:
        type: string
  securitySchemes:
    PipelineServiceKey:
      type: http
      scheme: bearer
      description: 'Authorization: Token {PIPELINE_SERVICE_KEY}'
