openapi: 3.0.3
info:
  title: Mezmo Alerts Archiving Classification API
  description: 'Manage Mezmo preset alerts. Preset alerts encapsulate presence or absence

    triggers, frequency, count thresholds, and notification channels (PagerDuty,

    Slack, webhook, email) that views attach to.

    '
  version: '1.0'
servers:
- url: https://api.mezmo.com
security:
- AccessToken: []
tags:
- name: Classification
paths:
  /classification/profile:
    post:
      tags:
      - Classification
      summary: Profile Sample Data
      description: Analyze a sample of pipeline data and return inferred field types, cardinality, and clusters.
      operationId: profileSample
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SampleRequest'
      responses:
        '200':
          description: Field profile.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Profile'
  /classification/parse:
    post:
      tags:
      - Classification
      summary: Suggest Parser
      description: AI-generate a parser configuration for the sample.
      operationId: suggestParser
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SampleRequest'
      responses:
        '200':
          description: Suggested parser.
  /classification/regex:
    post:
      tags:
      - Classification
      summary: Generate Regex
      description: Generate a regex for the supplied sample tokens.
      operationId: generateRegex
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SampleRequest'
      responses:
        '200':
          description: Generated regex.
components:
  schemas:
    Profile:
      type: object
      properties:
        fields:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
              type:
                type: string
              cardinality:
                type: integer
              examples:
                type: array
                items:
                  type: string
    SampleRequest:
      type: object
      required:
      - samples
      properties:
        samples:
          type: array
          items:
            type: string
        hint:
          type: string
  securitySchemes:
    AccessToken:
      type: http
      scheme: bearer
