openapi: 3.2.0
info:
  title: Mezmo Pipeline Processors API
  description: 'Programmatic CRUD over Mezmo Telemetry Pipelines. Manage pipelines, sources,

    processors, destinations, deployments, audit events, and account-wide

    metrics. Backs the Mezmo CLI, Terraform provider, and MCP server.

    '
  version: v3
  contact:
    name: Mezmo
    url: https://www.mezmo.com/
servers:
- url: https://api.mezmo.com/v3
  description: Production Pipeline API
security:
- PipelineServiceKey: []
tags:
- name: Processors
paths:
  /pipelines/{pipelineId}/processors:
    parameters:
    - $ref: '#/components/parameters/PipelineId'
    get:
      tags:
      - Processors
      summary: List Processors
      operationId: listProcessors
      responses:
        '200':
          description: Processors for the pipeline.
    post:
      tags:
      - Processors
      summary: Create Processor
      operationId: createProcessor
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PipelineNodeInput'
      responses:
        '201':
          description: Processor created.
  /pipelines/{pipelineId}/processors/{nodeId}:
    parameters:
    - $ref: '#/components/parameters/PipelineId'
    - $ref: '#/components/parameters/NodeId'
    get:
      tags:
      - Processors
      summary: Get Processor
      operationId: getProcessor
      responses:
        '200':
          description: Processor details.
    put:
      tags:
      - Processors
      summary: Update Processor
      operationId: updateProcessor
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PipelineNodeInput'
      responses:
        '200':
          description: Processor updated.
    delete:
      tags:
      - Processors
      summary: Delete Processor
      operationId: deleteProcessor
      responses:
        '204':
          description: Processor deleted.
components:
  schemas:
    PipelineNodeInput:
      type: object
      required:
      - title
      - type
      properties:
        title:
          type: string
        type:
          type: string
          description: Component type (e.g. http_source, otel_source, s3_destination, datadog_logs_destination, vrl_processor).
        config:
          type: object
          additionalProperties: true
        inputs:
          type: array
          items:
            type: string
  parameters:
    PipelineId:
      name: pipelineId
      in: path
      required: true
      schema:
        type: string
    NodeId:
      name: nodeId
      in: path
      required: true
      schema:
        type: string
  securitySchemes:
    PipelineServiceKey:
      type: http
      scheme: bearer
      description: 'Authorization: Token {PIPELINE_SERVICE_KEY}'
