openapi: 3.0.3
info:
  title: Mezmo Alerts Archiving Processors API
  description: 'Manage Mezmo preset alerts. Preset alerts encapsulate presence or absence

    triggers, frequency, count thresholds, and notification channels (PagerDuty,

    Slack, webhook, email) that views attach to.

    '
  version: '1.0'
servers:
- url: https://api.mezmo.com
security:
- AccessToken: []
tags:
- name: Processors
paths:
  /pipelines/{pipelineId}/processors:
    parameters:
    - $ref: '#/components/parameters/PipelineId'
    get:
      tags:
      - Processors
      summary: List Processors
      operationId: listProcessors
      responses:
        '200':
          description: Processors for the pipeline.
    post:
      tags:
      - Processors
      summary: Create Processor
      operationId: createProcessor
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PipelineNodeInput'
      responses:
        '201':
          description: Processor created.
  /pipelines/{pipelineId}/processors/{nodeId}:
    parameters:
    - $ref: '#/components/parameters/PipelineId'
    - $ref: '#/components/parameters/NodeId'
    get:
      tags:
      - Processors
      summary: Get Processor
      operationId: getProcessor
      responses:
        '200':
          description: Processor details.
    put:
      tags:
      - Processors
      summary: Update Processor
      operationId: updateProcessor
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PipelineNodeInput'
      responses:
        '200':
          description: Processor updated.
    delete:
      tags:
      - Processors
      summary: Delete Processor
      operationId: deleteProcessor
      responses:
        '204':
          description: Processor deleted.
components:
  parameters:
    NodeId:
      name: nodeId
      in: path
      required: true
      schema:
        type: string
    PipelineId:
      name: pipelineId
      in: path
      required: true
      schema:
        type: string
  schemas:
    PipelineNodeInput:
      type: object
      required:
      - title
      - type
      properties:
        title:
          type: string
        type:
          type: string
          description: Component type (e.g. http_source, otel_source, s3_destination, datadog_logs_destination, vrl_processor).
        config:
          type: object
          additionalProperties: true
        inputs:
          type: array
          items:
            type: string
  securitySchemes:
    AccessToken:
      type: http
      scheme: bearer
