openapi: 3.0.3
info:
  title: Mezmo Alerts Archiving Exclusions API
  description: 'Manage Mezmo preset alerts. Preset alerts encapsulate presence or absence

    triggers, frequency, count thresholds, and notification channels (PagerDuty,

    Slack, webhook, email) that views attach to.

    '
  version: '1.0'
servers:
- url: https://api.mezmo.com
security:
- AccessToken: []
tags:
- name: Exclusions
paths:
  /v1/config/ingestion/exclusions:
    get:
      tags:
      - Exclusions
      summary: List Exclusion Rules
      operationId: listExclusions
      responses:
        '200':
          description: Exclusion rules.
    post:
      tags:
      - Exclusions
      summary: Create Exclusion Rule
      operationId: createExclusion
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExclusionRule'
      responses:
        '201':
          description: Rule created.
  /v1/config/ingestion/exclusions/{ruleid}:
    parameters:
    - name: ruleid
      in: path
      required: true
      schema:
        type: string
    patch:
      tags:
      - Exclusions
      summary: Update Exclusion Rule
      operationId: updateExclusion
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExclusionRule'
      responses:
        '200':
          description: Rule updated.
    delete:
      tags:
      - Exclusions
      summary: Delete Exclusion Rule
      operationId: deleteExclusion
      responses:
        '204':
          description: Rule deleted.
components:
  schemas:
    ExclusionRule:
      type: object
      properties:
        title:
          type: string
        query:
          type: string
        hosts:
          type: array
          items:
            type: string
        apps:
          type: array
          items:
            type: string
        active:
          type: boolean
        indexonly:
          type: boolean
  securitySchemes:
    AccessToken:
      type: http
      scheme: bearer
