openapi: 3.2.0
info:
  title: Mezmo Alerts Archiving API
  description: 'Manage Mezmo preset alerts. Preset alerts encapsulate presence or absence

    triggers, frequency, count thresholds, and notification channels (PagerDuty,

    Slack, webhook, email) that views attach to.

    '
  version: '1.0'
servers:
- url: https://api.mezmo.com
security:
- AccessToken: []
tags:
- name: Archiving
  description: Cold storage configuration
paths:
  /v1/config/archiving:
    get:
      tags:
      - Archiving
      summary: Get Archive Configuration
      operationId: getArchiveConfig
      responses:
        '200':
          description: Current archiving configuration.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArchiveConfig'
    post:
      tags:
      - Archiving
      summary: Create Archive Configuration
      operationId: createArchiveConfig
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ArchiveConfig'
      responses:
        '201':
          description: Configuration created.
    put:
      tags:
      - Archiving
      summary: Update Archive Configuration
      operationId: updateArchiveConfig
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ArchiveConfig'
      responses:
        '200':
          description: Configuration updated.
    delete:
      tags:
      - Archiving
      summary: Delete Archive Configuration
      operationId: deleteArchiveConfig
      responses:
        '204':
          description: Configuration deleted.
components:
  schemas:
    ArchiveConfig:
      type: object
      required:
      - integration
      properties:
        integration:
          type: string
          enum:
          - s3
          - gcs
          - azblob
          - ibm
          - dospaces
        bucket:
          type: string
        endpoint:
          type: string
        region:
          type: string
        accesskey:
          type: string
        secretkey:
          type: string
        container:
          type: string
        apikey:
          type: string
        resourceinstanceid:
          type: string
  securitySchemes:
    AccessToken:
      type: http
      scheme: bearer
